
<head><title>BrainTree Integration</title></head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>
<script>
	var nodeServer='http://korbendallas.amitklein.net:9091';	
    var ctoken = null;
    var getClientToken = function () {
        $.ajax({
            type:"GET",
            url: nodeServer+"/client_token",
            async: false,
            error: function(data) {
                console.log("Failed to get client token: %s", data);
            }
        }).success(function (data) {
            console.log("Got client token")
            ctoken = data;
        });
    }
    
    function validateCard() {
        var client = new braintree.api.Client({
            clientToken: ctoken});
        if (!client) {
            alert ("Failed to create BT client");
            return;
        }
        var card_number = document.getElementById("card").value;
        var cvv = document.getElementById("cvv").value;
        var month = document.getElementById("month").value;
        var year = document.getElementById("year").value;
        var zipcode = document.getElementById("zipcode").value;
        var cardholder_name = document.getElementById("name").value;
        
        client.tokenizeCard({
            number: card_number,
            cardholderName: cardholder_name,
            expirationMonth: month,
            expirationYear: year
        }, function (error, _nonce) {
            if (!error && _nonce) {
                console.log("card approved");
                //console.log("nonce:%s", _nonce);
                createCustomer(_nonce);
            }else{
                console.log("Failed to validate card:%s", error.message);
                alert("Failed to validate card");
                return;
            }
        });
    } 
    function newCostumerWithPayment() {
        getClientToken();
        validateCard();
    }

    function subscribe() {
        var cid = document.getElementById("cust_id").value;
        $.ajax ({
            type:'GET',
            url:nodeServer+'/customer/'+cid,
            error: function(data) {
                console.log("Failed to get cusotmer info:%s", data);
            }
        }).success(function(json) {
            //console.log("got customer data:%s", json);
            var obj = JSON.parse(json);
            $.ajax({
                type:"POST",
                url:nodeServer+"/subscription",
                data:'{"token":"'+obj.token+'"}',
                error: function(err){
                    console.log("fail to subscribe %s--%s", obj.firstName, err);
                    alert(obj.firtsName+', Subsriction failed!!!');
                }
            }).success(function(data2) {
                alert(obj.firstName+", you are now subscribed to mailnicks!!!");
                document.getElementById("subs_btn").disabled = true;
            }); 
        });
    }
    
    function createCustomer(nonce) {

        var firstName = document.getElementById("first_id").value;
        var lastName = document.getElementById("last_id").value;
        if(firstName.length === 0 || lastName.length === 0) {
            alert("Invalid input parameters");
            return;
        }       	
        $.ajax ({
            type:"POST",
            url:nodeServer+"/customer",
            data: '{"firstName":"'+firstName+'", "lastName":"'+lastName+'","token":"'+nonce+'"}', 
            async: false,
            success: function(data) {
                console.log("got response");
                
                document.getElementById('customer_id').innerHTML='<h3>Subscription:</h3>Customer ID:<input type="text" id="cust_id" value="'+data+'"/><button onclick="subscribe()" id="subs_btn">Subscribe</button>';	
                document.getElementById("create_btn").disabled = true;

            },
            error: function(data) {
                console.log(data);
                document.getElementById('customer_id').innerHTML="error";	
            }
        });
    }
</script>
<body>
    <form id="customer" >
        <h3>Customer:</h3>
        First Name: <input type="text" name="first" id="first_id"><br>
        Last Name: <input type="text" name"last" id="last_id"> <br><br>
        <h3>Payment Information</h3>
        Card Number:<input type="text" id="card" name="card_number" value="4111111111111111">
        cvv:<input type="text" id="cvv" na`me="cvv" value="100"><br>
        Expiration:<br>
        Month(MM):<input type="text" id="month" name="month" value="10">
        Year(YYYY)<input type="text" id="year" name="year" value="2020">
        <br>
        Zip Code:<input type="text" id="zipcode" name="zip" value="94107"><br>
        Card Holder Name:<input type="text" id="name" name="cardholder_name" value="John Doe"><br>
    </form>
    <button onclick="newCostumerWithPayment()" id="create_btn">Create</button><br>
	<div id="customer_id"></div>
</body>
</html>
